@font-face {
    font-family: 'ralewayblack';
    src: url('../fonts/raleway-black.woff2') format('woff2'),
         url('../fonts/raleway-black.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewayblack_italic';
    src: url('../fonts/raleway-blackitalic.woff2') format('woff2'),
         url('../fonts/raleway-blackitalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewaybold';
    src: url('../fonts/raleway-bold.woff2') format('woff2'),
         url('../fonts/raleway-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewaybold_italic';
    src: url('../fonts/raleway-bolditalic.woff2') format('woff2'),
         url('../fonts/raleway-bolditalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewayextrabold';
    src: url('../fonts/raleway-extrabold.woff2') format('woff2'),
         url('../fonts/raleway-extrabold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewayextrabold_italic';
    src: url('../fonts/raleway-extrabolditalic.woff2') format('woff2'),
         url('../fonts/raleway-extrabolditalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewayextralight';
    src: url('../fonts/raleway-extralight.woff2') format('woff2'),
         url('../fonts/raleway-extralight.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewayextralight_italic';
    src: url('../fonts/raleway-extralightitalic.woff2') format('woff2'),
         url('../fonts/raleway-extralightitalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewayitalic';
    src: url('../fonts/raleway-italic.woff2') format('woff2'),
         url('../fonts/raleway-italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewaylight';
    src: url('../fonts/raleway-light.woff2') format('woff2'),
         url('../fonts/raleway-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewaylight_italic';
    src: url('../fonts/raleway-lightitalic.woff2') format('woff2'),
         url('../fonts/raleway-lightitalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewaymedium';
    src: url('../fonts/raleway-medium.woff2') format('woff2'),
         url('../fonts/raleway-medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


* {
  box-sizing: border-box;
  margin: 0 auto;
  font-family: 'ralewaymedium';
}

.container{
  width:960px;
}


header{
  background-color: black;
  height:60px;
  color: white;
  margin-bottom: 90px;
  text-transform: uppercase;
  width:100%;
  font-family: 'ralewaymedium';
}

.Logo{
  height: 30px;
  float: left;
  padding: 10px;
  color:white;
  line-height: 40px;
}

.green{
  color:#6EBE9F;
  display: inline;
  font-family: 'ralewayextrabold';
  text-transform: uppercase;
}

a{
  color: white;
  text-decoration: none;
}

ol>li {
  float:right;
  list-style: none;
  display: inline-block;
  width: 150px;
  line-height: 150%;
  padding-top: 20px;
}

ol>li>ul>li{
  position: relative;
  z-index: 100;
  background-color: black;
  color: white;
  list-style: none;
  text-transform: none;
  font-size: 10px;
  text-align: center;
  width: 100px;
  font-family: 'ralewaylight';
}

ol>li>ul>li:first-child{
  margin-top: 40px;
}
/*trójkącik nad listą rozwijaną:*/
ol>li>ul>li:first-child::before{
  content:"";
  width: 0;
  height: 0;
  border: 15px solid black;
  border-bottom-color: black;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  position: absolute;
  top:-30px;
  right: 35px;
}

ol>li>ul{
  display: none;
  position: absolute;
}
ol>li:hover>ul{
  display: block;
}


#lt,#gt {
  float: left;
  line-height: 250px;
  font-size: 50px;
  width: 10%;
  float: left;
  font-family: 'ralewaylight';
}

#gt{
  float: right;
}

.black_chair_section{
  background-image: linear-gradient(180deg, white, #d3d9d4);
  height: 410px;
  text-align: center;
  margin-bottom: 25px;
  font-family: 'ralewaymedium';
}

.sit_on_our_chair{
  font-size: 16px;
  width: 40%;
  float: left;
}

.black_chair_photo{
  height: 330px;
  width: 200px;
  float: left;
  background: url("../images/black_chair.png");
  background-size: cover;
  background-position: 20px;
  width: 40%;
  float: left;
  background-position: -70px;
}

.h1_black_chair{
  text-transform: uppercase;
  padding: 50px 0 0 20px;
  font-size: 30px;
}

.p_black_chair {
  padding: 20px;
  font-family: 'ralewaylight';
}

.see_more_button{
  height:40px;
  width: 210px;
  background-color:#6EBE9F;
  text-transform: uppercase;
  border-radius: 5px;
  color: white;
  line-height: 40px;
  text-align: center;
  margin-right: 180px;
  margin: auto;
}

.boxes {
  width: 100%;
  height: 260px;
  background-color: white;
  overflow: hidden;
}


.chair_clair{
  width: 33%;
  float: left;
  height: 186px;
  background: url("../images/box1_img.jpg");
  background-size: cover;
  position: relative;
  font-family: 'ralewayextrabold';
  border: 10px solid white;
}

.stripe{
  height: 50px;
  background-color: rgba(255, 255, 255, 0.6);
  position: absolute;
  width: 100%;
  bottom: 15px;
  padding-left: 5px;
  font-family: 'ralewayextrabold';
  line-height: 40px;
}

.stripe::before{
  content: '';
  height: 5px;
  background-color: #6EBE9F;
  position: absolute;
  width: 45%;
  bottom: 15px;
  left:5px;
}


.chair_margarita{
  width: 33.33%;
  float: left;
  height: 186px;
  background-color: white;
  background: url("../images/box2_img.jpg");
  background-size: cover;
  position: relative;
  border: 10px solid white;
  border-right: 20px solid white;

}

.finds_all_inputs{
  width: 33.33%;
  float: left;
  height: 186px;
  border: 1px solid #E3E7E6;
  position: relative;
  font-size: 12px;
  padding: 10px;
}
.finds_all_inputs>p{
  color: silver;
}


.price_list{
  height: 595px;
  background-color: #d3d9d4;
  font-family: 'ralewaylight';
}

.container>h1{
  text-transform: uppercase;
  padding-top: 30px;
  padding-left: 10px;
}

/*zielony pasek pod cennikiem:*/
.standard_plan::before{
  content:"";
  height: 5px;
  background-color: #6EBE9F;
  position: absolute;
  width: 295px;
  top: -70px;
  left: -320px;
}


.basic_plan{
  width: 295px;
  float: left;
  height: 400px;
  border: 1px solid #E3E7E6;
  margin-top: 80px;
  font-size:30px;
  background-color: white;
  position: relative;
  text-align: center;
  padding-top: 40px;
  border-radius: 5px;
  margin-right: 20px;
  margin-left: 10px;
}
/*kółko z kropką:*/
.basic_plan::after{
  content:"";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  border: 10px solid white;
  left:120px;
  margin: auto;
  top: -20px;
  background-color: #E3E7E6;
  box-shadow: 0 0 0 1px #E3E7E6;
}


.circle_inside_BP{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid #E3E7E6;
  position: absolute;
  left: 90px;
  top: 100px;
  color: #E3E7E6;
  font-size: 15px;
  text-transform: uppercase;
  padding-top: 20px;
}

.circle_inside_BP>span{
  font-size: 30px;
  font-weight: 700;
  float: left;
  padding-left: 25px;
}
.circle_inside_BP>p{
  font-size: 15px;
  vertical-align: sub;
  float: left;
}

.join_button_BP{
  background-color: #6EBE9F;
  color: white;
  border-radius: 5px;
  font-size: 15px;
  color: white;
  width: 100px;
  height: 25px;
  line-height: 25px;
  position: absolute;
  bottom: 20px;
  left:85px;
  text-transform: uppercase;
}

#stripe1BP{
  background-color: #E3E7E6;
  height: 30px;
  width: 100%;
  position: absolute;
  bottom: 150px;
  font-size: 15px;
  line-height: 200%;
}
#stripe2BP{
  background-color: #d3d9d4;
  height: 30px;
  width: 100%;
  position: absolute;
  bottom: 120px;
  font-size: 15px;
  line-height: 200%;
}

#stripe3AP{
  background-color: #E3E7E6;
  height: 30px;
  width: 100%;
  position: absolute;
  bottom: 90px;
  font-size: 15px;
  line-height: 200%;
}
#stripe4AP{
  background-color: #d3d9d4;
  height: 30px;
  width: 100%;
  position: absolute;
  bottom: 60px;
  font-size: 15px;
  line-height: 200%;
}



.standard_plan{
  width: 295px;
  float: left;
  height: 400px;
  border: 1px solid #6EBE9F;
  background-color: #6EBE9F;
  margin-top: 80px;
  font-size:30px;
  position: relative;
  text-align: center;
  padding-top: 40px;
  border-radius: 5px;
  margin-right: 10px;


}

.standard_plan>h1{
  color: white;
  text-transform: uppercase;

}

/*kółko z kropką:*/
.standard_plan::after{
  content:"";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  border: 10px solid #6EBE9F;
  background-color: white;
  left:120px;
  margin: auto;
  top: -20px;
  box-shadow: 0 0 0 1px #6EBE9F;
}


.circle_inside_SP{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid #6EBE9F;
  color: #6EBE9F;
  position: absolute;
  left: 90px;
  top: 100px;
  font-size: 15px;
  text-transform: uppercase;
  padding-top: 20px;
  background-color: white;
}

.circle_inside_SP>span{
  font-size: 30px;
  font-weight: 700;
  float: left;
  padding-left: 25px;
}
.circle_inside_SP>p{
  font-size: 15px;
  vertical-align: sub;
  float: left;
}

.join_button_SP{
  background-color: white;
  color: #6EBE9F;
  border-radius: 5px;
  font-size: 15px;
  width: 100px;
  height: 25px;
  line-height: 25px;
  position: absolute;
  bottom: 20px;
  left:85px;
  text-transform: uppercase;
}

.join_button_SP>a{
  color: #6EBE9F;
}

#stripe1SP{
  background-color: #d3d9d4;
  height: 30px;
  width: 100%;
  position: absolute;
  bottom: 150px;
  font-size: 15px;
  line-height: 200%;
}
#stripe2SP{
  background-color: #E3E7E6;
  height: 30px;
  width: 100%;
  position: absolute;
  bottom: 120px;
  font-size: 15px;
  line-height: 200%;
}
#stripe3SP{
  background-color: #d3d9d4;
  width: 100%;
  position: absolute;
  bottom: 90px;
  font-size: 15px;
  line-height: 200%;
}



.contact{
  height: 500px;
  clear: both;
}

form{
  width: 55%;
  float: left;
  margin-top: 100px;
  position: relative;

}

fieldset{
  border-width: 0;
  margin-top: -40px;
}

/*zielone podkreslenie KONTAKT:*/
fieldset::before{
  content:"";
  height: 5px;
  background-color: #6EBE9F;
  position: absolute;
  width: 295px;
  top: -85px;
  left: 10px;
}

input{
  border: 1px solid #6EBE9F;
  border-radius: 5px;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 20px;
  width: 100%;
}
 textarea{
   border: 1px solid #6EBE9F;
   border-radius: 5px;
   resize: none;
   color: #E3E7E6;
   font-size: 20px;
   margin-top: 20px;
   width: 100%;
}

input-placeholder{
  color: #E3E7E6;
  font-size: 20px;
}
::-ms-input-placeholder {
  color: #E3E7E6;
  font-size: 20px;
}

input:focus {
  outline: 1;
}

/*sekcja z czerwonym fotelem*/
.red_chair{
  width: 45%;
  float: left;
  margin-top: 50px;
  background: url("../images/red_chair.png");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: 100px -15px;
}
/*klawisz wyslij pod czerwonym fotelem*/
.button{
  background-color: #6EBE9F;
  color: white;
  text-transform: uppercase;
  width: 275px;
  height: 50px;
  border-radius: 10px;
  font-size: 25px;
  border-width: 0;
  margin-left: 30px;
  margin-top: 100px;
  margin-left: 75px;

}

/*przetwarzanie danych osobowych:*/
.remember-me{
  color: #6EBE9F;
  font-family: 'ralewaylight';
  position: relative;
  left: 80px;
  top: 80px;
}

.footer{
  height: 140px;
  height:60px;
  color: #E3E7E6;
  margin-top: 20px;
  line-height: 50px;
  font-size: 15px;
  font-family: 'ralewaylight';
}
.footer>p{
  float: left;
  line-height: 200%;
  font-family: 'ralewaylight';
}
.Logo_footer{
  float:right;
  text-transform: uppercase;
  color: gray;
  line-height: 200%;
}
.footer>ul>li{
  display: inline-block;
  float: right;
}
.footer>ul>li:first-child{
  padding-left: 50px;
}

.flickr{
  background: url("../images/flickr.png");
  background-size: cover;
  height: 30px;
  width: 30px;
  background-repeat: no-repeat;
}

.vimeo{
  background: url("../images/vimeo.png");
  background-size: cover;
  height: 30px;
  width: 30px;
}
.twitter{
  background: url("../images/twitter.png");
  background-size: cover;
  height: 30px;
  width: 30px;
}
.pinterest{
  background: url("../images/pinterest.png");
  background-size: cover;
  height: 30px;
  width: 30px;
}

.Logo_footer>span{
  font-weight: 700;
  font-family: 'ralewaybold';
}
